{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock javascript %}

{% block main %}
{#
上部の画像は作成次第設定する
仮で設定しておく
#}
<div class="recommendation">
    {# バナー #}
    <div class="recommendation_banner">
        <img class="recommendation_banner_SP" src="/html/user_data/data/bathgoods_SP.jpg">
        <img class="recommendation_banner_PC" src="/html/user_data/data/bathgoods_PC.jpg">
    </div>

    {# ライティング部隊の文章 #}
    <div class="recommendation_text">
        {#
        <p>
            あいうえお<br>
            かきくけこ<br>
            さしすせそ
        </p>
        #}
    </div>

    {# 1つ目の商品 #}
    <div class="recommendation_item_01">
        <img class="recommendation_item_01_image" src="/html/upload/save_image/1013225541_6166e55da5e55.png" width="300px" height="300px" />
    
        <div class="recommendation_item_01_name">
            <p>【CLAYD for bath】CANISTER SET 400</p>
        </div>
        
        <div class="recommendation_item_01_disc">
            <p>天然成分100%、アメリカ西海岸のクレイを使用した入浴料。<br>
               遠赤外線が出ているCRAYDのクレイは温浴効果をサポートし、身体の芯まで温まります。<br>
               また、老廃物を取り去ったり、きめ細かさとみずみずしい潤い感のある肌へ。<br>
               そして、質の高い深い眠りへとなります。

        </div>
    
        <div class="recommendation_item_01_price">
            <p>￥5,390</p>
        </div>
    
        <div class="recommendation_item_01_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="recommendation_item_01_button" onclick="location.href='https://gift-communication.shop/products/detail/236'">詳細を見る</button>
    </div>
    
    {# 2つ目の商品 #}
    <div class="recommendation_item_02">
        <img class="recommendation_item_02_image" src="/html/upload/save_image/1013224932_6166e3ec74091.png" width="300px" height="300px" />
    
        <div class="recommendation_item_02_name">
            <p>【CLAYD for bath】ONETIME（2個）</p>
        </div>
        
        <div class="recommendation_item_02_disc">
            <p>天然成分100%、アメリカ西海岸のクレイを使用した入浴料。<br>
               遠赤外線が出ているCRAYDのクレイは温浴効果をサポートし、身体の芯まで温まります。<br>
               また、老廃物を取り去ったり、きめ細かさとみずみずしい潤い感のある肌へ。<br>
               そして、質の高い深い眠りへとなります。
        </div>
    
        <div class="recommendation_item_02_price">
            <p>￥1,100</p>
        </div>
    
        <div class="recommendation_item_02_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="recommendation_item_02_button" onclick="location.href='https://gift-communication.shop/products/detail/234'">詳細を見る</button>
    </div>
    
    {# 3つ目の商品 #}
    <div class="recommendation_item_03">
        <img class="recommendation_item_03_image" src="/html/upload/save_image/1124234046_5fbd1b6e8a865.jpg" width="300px" height="300px" />
    
        <div class="recommendation_item_03_name">
            <p>スカルプヘアブラシプレミアム　ショート　ギフトセット（スタンド・携帯ケース付）【日本製】</p>
        </div>
        
        <div class="recommendation_item_03_disc">
            <p>頭を洗う時に手で洗っている方必見。<br>
               手洗いでは落としにくい毛穴の皮脂汚れを効果的に落とすだけでなく、<br>
               頭皮から繋がる顔のたるみ防止などにも良い影響を与えます。<br>
               髪の毛を洗う新習慣にブラシを取り入れてみませんか。
</p>
        </div>
    
        <div class="recommendation_item_03_price">
            <p>￥6,380</p>
        </div>
    
        <div class="recommendation_item_03_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="recommendation_item_03_button" onclick="location.href='https://gift-communication.shop/products/detail/152'">詳細を見る</button>
    </div>
</div>

{% endblock %}