{% extends '@admin/default_frame.twig' %}

{% set menus = ['store', 'plugin', 'plugin_list'] %}

{% block title %}EC-CUBEのアップデート{% endblock %}
{% block sub_title %}{% endblock %}

{% block stylesheet %}
    <meta name="referrer" content="no-referrer">
{% endblock stylesheet %}

{% block javascript %}{% endblock javascript %}

{% block main %}
    <div class="c-contentsArea__cols">
        <div class="c-contentsArea__primaryCol">
            <div class="c-primaryCol">
                <div class="card rounded border-0 mb-4">
                    <div class="card-header"><span>アップデートの注意点</span></div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col mb-2">
                                <ul>
                                    <li>・この手順では、ec-cube.netからダウンロードしたEC-CUBEのパッケージを利用していることを想定しています。</li>
                                    <li>・本番環境でバージョンアップを行う前に、必ずテスト環境で事前検証を行ってください。</li>
                                    <li>・本番環境でバージョンアップを行う前に、必ずファイルおよびデータベースのバックアップを行ってください。</li>
                                    <li>・アップデート実行中にショップ画面へのアクセスが発生すると、アップデートに失敗する可能性があるため、<a href="{{ url('admin_content_maintenance') }}">メンテンスモード</a>の利用をおすすめします。</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card rounded border-0 mb-4">
                    <div class="card-header"><span>リリースノート</span></div>
                    <div class="card-body">
                        <h6>主な変更点</h6>
                        <ul>
                            <li>XSS脆弱性の修正(JVN#97554111、JVN#95292458)</li>
                            <li>Symfonyライブラリのアップデート</li>
                            <li>プラグインのインストール時にrequire-devのライブラリが含まれていた不具合の修正</li>
                            <li>JVN#95292458 の修正不備に対応</li>
                        </ul>
                        <br>
                        <h6>リリースノート</h6>
                        <ul>
                            <li><a target="_blank" rel="noreferrer noopener"
                                    href="https://github.com/EC-CUBE/ec-cube/releases/tag/4.0.6-p1">EC-CUBE 4.0.6-p1</a></li>
                        </ul>

                    </div>
                </div>
                {% if supported %}
                    <div class="card rounded border-0 mb-4">
                        <div class="card-body">
                            <div class="text-center">
                                <a class="btn btn-ec-conversion"
                                   href="{{ url('eccube_updater405to406_admin_check_plugin_version') }}" {{ csrf_token_for_anchor() }}
                                   data-method="post" data-confirm="false">
                                    プラグインの対応状況の確認へ
                                </a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
