{#TOP画面の店舗コンセプト文#}
<div class="ec-concept_text">
    <p>日頃の感謝の気持ちを込めて、ありがとうを形に</p>
    <p>シチュエーションに応じた、お客様の気持ちに寄り添う贈り物選びをさせていただきます。</p>
    <p>ギフトの贈り手ともらい手のお二方の関係性がさらに良好なものにと願ったセレクトショップになります。</p>
</div>