<div class="ec-footerRole">
    <div class="ec-footerRole__inner" style="">
    <div class="ec-footer_box">
        <div class="ec-footer_memu">
            <div class="foot_left">
            <dl>
                <dt>MEMU</dt>
                <dd>
                <ul class="ec-footerNaviRole__left">
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/">ホーム</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/products/list?category_id=7">食品</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/products/list?category_id=9">化粧品</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/products/list?category_id=8">日用品・洗面</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/products/list?category_id=11">雑貨</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/products/list?category_id=10">ベビー用品</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/help/privacy">プライバシーポリシー</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/help/tradelaw">特定商取引法に基づく表記</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/help/agreement">ご利用規約</a>
                    </li>
                    <li class="ec-footerNavi__link">
                        <a href="https://gift-communication.shop/contact">お問い合わせ</a>
                    </li>
                 </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div class="ec-footer_center">
    <dl>
        <dt>INFORMATION</dt>
        <dd>
            <ul>
                <div class="ec-footer_adrees">
    		        <address class="info_address">
				        〒143-0021 東京都大田区北馬込2-32−7<br>
				        TEL：03-6429-9566<br>
				        営業時間： 10:00 〜 18:00 (月～金)<br>
				        定休日： 土日祝			</address>
                </div>
            </ul>
            <ul>
            <p><iframe allowfullscreen="" frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d811.0617429452958!2d139.71083472918338!3d35.59697398925804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188aa279b5eb0f%3A0x5fb304ca6e41da8e!2z44CSMTQzLTAwMjEg5p2x5Lqs6YO95aSn55Sw5Yy65YyX6aas6L6877yS5LiB55uu77yT77yS4oiS77yX!5e0!3m2!1sja!2sjp!4v1585470297271!5m2!1sja!2sjp" style="border:0;" width="300"></iframe></p>
            </ul>
        </dd>
    </dl>
    </div>
    <div class="ec-footer_right">
            <ul>
                <a class="twitter-timeline" data-lang="ja" data-width="350" data-height="400" href="https://twitter.com/GIFTCOMMUNICAT1?ref_src=twsrc%5Etfw">Tweets by GIFTCOMMUNICAT1</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </ul>
    </div>
    </div>
    <div class="ec-footerNaviRole">

    </div>
    <div class="ec-footerCopyright">© 2020 GIFT COMMUNICATION All Rights Reserved.</div>
    </div>
</div>