{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% extends 'default_frame.twig' %}

{% block main %}
    <div class="all_topicpath">
      <ol class="ec-topicpath_sub">
        <li class="home_path"><a href="https://gift-communication.shop/">TOP</a></li>
        <li class="ec-topicpath_all_divider"> ＞</li>
        <li class="ec-topicpath_all_category">返品・交換</li>
    　</ol>
    </div>
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1>{{ '返品・交換'|trans }}</h1>
        </div>
        <div id="return">
            <h2>返品</h2>
            <br>
            <h3>商品不備による場合</h3>
            <p>お届け内容の不備による返品は、返送料を弊社にて負担いたします。返送品の到着を確認後、返金の手続きをいたしますので、お手数ですが、下記お問い合わせ先までご連絡をお願いいたします。</p>
            <p>※ご注文と異なる商品</p>
            <p>※配送による商品破損</p>
            <p>※商品不良</p>
            <br>
            <h3>お客様のご都合による場合</h3>
            <p>前記の場合を除く、お客様のご都合による返品の場合は､商品到着後、10営業日以内にご連絡のうえ、10日以内にご返送ください。返送品の到着を確認後、返金の手続きをいたします。</p>
            <p>※返品にかかる送料はお客様のご負担となります。あらかじめご了承ください。</p>
            <br>
            <h3>返品についてのお問い合わせ</h3>
            <p>株式会社SUN</p>
　　        <p>メール：contact@gift-communication.shop</p>
　　        <p>（お問い合わせ時間：11：00～19：00 土日祝、年末年始を除く）</p>
            <br>
            <br>
        </div>
        <div id="exchange">
            <h2>交換</h2>
            <br>
            <h3>商品不備による場合</h3>
            <p>お届け内容の不備による交換は、返送料および交換商品の発送料をを弊社にて負担いたします。交換手続きにつきましては、お手数ですが、下記お問い合わせ先までご連絡をお願いいたします。</p>
            <p>※ご注文と異なる商品</p>
            <p>※配送による商品破損</p>
            <p>※商品不良</p>
            <br>
            <h3>お客様のご都合による場合</h3>
            <p>前記の場合を除く、お客様のご都合による交換の場合は､商品到着後、10営業日以内にご連絡のうえ、10日以内にご返送ください。返送品の到着を確認後、交換の手続きをいたします。</p>
            <p>※交換にかかる送料（返送料及び交換商品の発送料）はお客様のご負担となります。あらかじめご了承ください。</p>
            <br>
            <h3>交換についてのお問い合わせ</h3>
            <p>株式会社SUN</p>
　　        <p>メール：contact@gift-communication.shop</p>
　　        <p>（お問い合わせ時間：11：00～19：00 土日祝、年末年始を除く）</p>

        </div>
    </div>
{% endblock %}