{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block stylesheet %}
{% endblock %}

{% block javascript %}
<script>

</script>
{% endblock javascript %}

{% block main %}
{#
上部の画像は作成次第設定する
仮で設定しておく
#}
<div class="tesuto">
    {# バナー #}
    <div class="tesuto_banner">
        <img class="recommendation_banner_SP" src="/html/user_data/data/bathgoods_SP.jpg">
        <img class="recommendation_banner_PC" src="/html/user_data/data/bathgoods_PC.jpg">
    </div>

    {# ライティング部隊の文章 #}
    <div class="tesuto_text">
        {#
        <p>
            あいうえお<br>
            かきくけこ<br>
            さしすせそ
        </p>
        #}
    </div>

    {# 1つ目の商品 #}
    <div class="tesuto_item_01">
        <img class="tesuto_item_01_image" src="/html/upload/save_image/1013225541_6166e55da5e55.png" width="300px" height="300px" />
    
        <div class="tesuto_item_01_name">
            <p>【CLAYD for bath】CANISTER SET 400</p>
        </div>
        
        <div class="tesuto_item_01_disc">
            <p>天然成分100%、アメリカ西海岸のクレイを使用した入浴料。<br>
               遠赤外線が出ているCRAYDのクレイは温浴効果をサポートし、身体の芯まで温まります。<br>
               また、老廃物を取り去ったり、きめ細かさとみずみずしい潤い感のある肌へ。<br>
               そして、質の高い深い眠りへとなります。

        </div>
    
        <div class="tesuto_item_01_price">
            <p>￥5,390</p>
        </div>
    
        <div class="tesuto_item_01_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="tesuto_item_01_button" onclick="location.href='https://gift-communication.shop/products/detail/236'">詳細を見る</button>
    </div>
    
    {# 2つ目の商品 #}
    <div class="tesuto_item_02">
        <img class="tesuto_item_02_image" src="/html/upload/save_image/1013224932_6166e3ec74091.png" width="300px" height="300px" />
    
        <div class="tesuto_item_02_name">
            <p>【CLAYD for bath】ONETIME（2個）</p>
        </div>
        
        <div class="tesuto_item_02_disc">
            <p>天然成分100%、アメリカ西海岸のクレイを使用した入浴料。<br>
               遠赤外線が出ているCRAYDのクレイは温浴効果をサポートし、身体の芯まで温まります。<br>
               また、老廃物を取り去ったり、きめ細かさとみずみずしい潤い感のある肌へ。<br>
               そして、質の高い深い眠りへとなります。
        </div>
    
        <div class="tesuto_item_02_price">
            <p>￥1,100</p>
        </div>
    
        <div class="tesuto_item_02_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="tesuto_item_02_button" onclick="location.href='https://gift-communication.shop/products/detail/234'">詳細を見る</button>
    </div>
    
    {# 3つ目の商品 #}
    <div class="tesuto_item_03">
        <img class="tesuto_item_03_image" src="/html/upload/save_image/1124234046_5fbd1b6e8a865.jpg" width="300px" height="300px" />
    
        <div class="tesuto_item_03_name">
            <p>スカルプヘアブラシプレミアム　ショート　ギフトセット（スタンド・携帯ケース付）【日本製】</p>
        </div>
        
        <div class="tesuto_item_03_disc">
            <p>頭を洗う時に手で洗っている方必見。<br>
               手洗いでは落としにくい毛穴の皮脂汚れを効果的に落とすだけでなく、<br>
               頭皮から繋がる顔のたるみ防止などにも良い影響を与えます。<br>
               髪の毛を洗う新習慣にブラシを取り入れてみませんか。
            </p>
        </div>
    
        <div class="tesuto_item_03_price">
            <p>￥6,380</p>
        </div>
    
        <div class="tesuto_item_03_tax">
            <p>(税込み)</p>
        </div>
    
        <button class="tesuto_item_03_button" onclick="location.href='https://gift-communication.shop/products/detail/152'">詳細を見る</button>
    </div>
</div>

<style>
    @media only screen and (min-width: 1000px) {
    /* 特集ページ全体 */
    .tesuto_banner {
        text-align: center;
    }
    /*
    .recommendation_banner_PC {
        display: block;
    }*/
    .tesuto_banner_SP {
        display: none;
    }

    .tesuto {
        position: relative;
        top: 130px;
    }

    /* バナー */
    .tesuto_text {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
    }

    /* 1つ目の商品 */
    .tesuto_item_01 {
        position: relative;
        width: 980px;
        height: 360px;
        border: 1px solid #dddddd;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .tesuto_item_01_image {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .tesuto_item_01_name p {
        position: absolute;
        top: 30px;
        left: 370px;
        font: 源ノ角ゴシック JP;
        font-size: 24px;
        color: bold;
    }
    .tesuto_item_01_disc p {
        position: absolute;
        top: 131px;
        left: 370px;
        font: 源ノ角ゴシック JP;
        font-size: 14px;
        color: Medium;
    }

    .tesuto_item_01_price p {
        position: absolute;
        bottom: 30px;
        left: 370px;
        font: Roboto;
        font-size: 36px;
        color: Light;
    }

    .tesuto_item_01_tax p {
        position: absolute;
        bottom: 36px;
        left: 505px;
        font: Roboto;
        font-size: 14px;
        color: Light;
    }

    .tesuto_item_01_button {
        position: absolute;
        bottom: 30px;
        left: 621px;
        width: 320px;
        height: 50px;
        background: #707070;
        border-radius: 0;
        font-size: 14px;
        font-family: 源ノ角ゴシック JP;
        font-weight: 400;
        border: none;
        color: #FFFFFF;
    }

    /* 2つ目の商品 */
    .tesuto_item_02 {
        position: relative;
        width: 980px;
        height: 360px;
        border: 1px solid #dddddd;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    .tesuto_item_02_image {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .tesuto_item_02_name p {
        position: absolute;
        top: 30px;
        left: 30px;
        font: 源ノ角ゴシック JP;
        font-size: 24px;
        color: bold;
    }
    .tesuto_item_02_disc p {
        position: absolute;
        top: 131px;
        left: 30px;
        font: 源ノ角ゴシック JP;
        font-size: 14px;
        color: Medium;
    }

    .tesuto_item_02_price p {
        position: absolute;
        bottom: 30px;
        left: 34px;
        font: Roboto;
        font-size: 36px;
        color: Light;
    }

    .tesuto_item_02_tax p {
        position: absolute;
        bottom: 36px;
        left: 170px;
        font: Roboto;
        font-size: 14px;
        color: Light;
    }

    .tesuto_item_02_button {
        position: absolute;
        bottom: 30px;
        right: 379px;
        width: 320px;
        height: 50px;
        background: #707070;
        border-radius: 0;
        font-size: 14px;
        font-family: 源ノ角ゴシック JP;
        font-weight: 400;
        border: none;
        color: #FFFFFF;
    }

    /* 3つ目の商品 */
    .tesuto_item_03 {
        position: relative;
        width: 980px;
        height: 360px;
        border: 1px solid #dddddd;
        margin: 0 auto;
        margin-bottom: 230px;
    }
    .tesuto_item_03_image {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .tesuto_item_03_name p {
        position: absolute;
        top: 30px;
        left: 370px;
        font: 源ノ角ゴシック JP;
        font-size: 24px;
        color: bold;
    }
    .tesuto_item_03_disc p {
        position: absolute;
        top: 131px;
        left: 370px;
        font: 源ノ角ゴシック JP;
        font-size: 14px;
        color: Medium;
    }

    .tesuto_item_03_price p {
        position: absolute;
        bottom: 30px;
        left: 370px;
        font: Roboto;
        font-size: 36px;
        color: Light;
    }

    .tesuto_item_03_tax p {
        position: absolute;
        bottom: 36px;
        left: 505px;
        font: Roboto;
        font-size: 14px;
        color: Light;
    }

    .tesuto_item_03_button {
        position: absolute;
        bottom: 30px;
        left: 621px;
        width: 320px;
        height: 50px;
        background: #707070;
        border-radius: 0;
        font-size: 14px;
        font-family: 源ノ角ゴシック JP;
        font-weight: 400;
        border: none;
        color: #FFFFFF;
    }
}
@media only screen and (max-width: 415px) {
    .tesuto_banner_PC {
        display: none;
    }
    .tesuto_banner_SP {
        display: block;
    }
    .tesuto_banner {
        width: 335px;
        margin-left: 21px;
    }
    .tesuto_text {
        margin: 20px;
    }
    .tesuto_item_01 {
        margin-left: 20px;
        width: 335px;
        border-width: 1px;
        border-style: solid;
    }
    .tesuto_item_01_image {
        height: 333px;
        width: 333px;
    }
    .tesuto_item_01_name {
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_01_disc {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_01_price {
        font-size: 28px;
        margin-top: 20px;
        margin-left: 15px;
        width: 113px;
        font-family: "Roboto";
    }
    .tesuto_item_01_tax {
        font-size: 14px;
        margin-left: 15px;
        width: 58px;
        position: absolute;
        left: 130px;
        top: 740px;
    }
    .tesuto_item_01_button {
        margin-left: 15px;
        width: 305px;
        height: 50px;
        background: #707070;
        color: #FFFFFF;
        border: none;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    .tesuto_banner_img {
        width: 335px;
        height: 150px;
        margin-left: 21px;
    }
    .tesuto_text {
        margin: 20px;
    }
    .tesuto_item_02 {
        margin-left: 20px;
        width: 335px;
        border-width: 1px;
        border-style: solid;
        margin-top: 31px;
    }
    .tesuto_item_02_image {
        height: 333px;
        width: 333px;
    }
    .tesuto_item_02_name {
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_02_disc {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_02_price {
        font-size: 28px;
        margin-top: 20px;
        margin-left: 15px;
        width: 113px;
        font-family: "Roboto";
    }
    .tesuto_item_02_tax {
        font-size: 14px;
        margin-left: 15px;
        width: 58px;
        position: absolute;
        left: 130px;
        top: 1426px;
    }
    .tesuto_item_02_button {
        margin-left: 15px;
        width: 305px;
        height: 50px;
        background: #707070;
        color: #FFFFFF;
        border: none;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    .tesuto_banner_img {
        width: 335px;
        height: 150px;
        margin-left: 21px;
    }
    .tesuto_text {
        margin: 20px;
    }
    .tesuto_item_03 {
        margin-left: 20px;
        width: 335px;
        border-width: 1px;
        border-style: solid;
        margin-top: 31px;
    }
    .tesuto_item_03_image {
        height: 333px;
        width: 333px;
    }
    .tesuto_item_03_name {
        font-size: 16px;
        font-weight: bold;
        margin-top: 15px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_03_disc {
        font-size: 12px;
        margin-top: 10px;
        margin-left: 15px;
        width: 305px;
    }
    .tesuto_item_03_price {
        font-size: 28px;
        margin-top: 20px;
        margin-left: 15px;
        width: 113px;
        font-family: "Roboto";
    }
    .tesuto_item_03_tax {
        font-size: 14px;
        margin-left: 15px;
        width: 58px;
        position: absolute;
        left: 130px;
        top: 2140px;
    }
    .tesuto_item_03_button {
        margin-left: 15px;
        width: 305px;
        height: 50px;
        background: #707070;
        color: #FFFFFF;
        border: none;
        margin-top: 11px;
        margin-bottom: 20px;
    }
    .ec-layoutRole__main {
        min-height: 100vh;
        position: relative;
        padding-bottom: 80px;  
        box-sizing: border-box;
    }
}
</style>

{% endblock %}